{% extends "shop/base.html" %} {% load static %} {% block title %} Your shopping
cart {% endblock %} {% block style_css %}
<link href="{% static 'css/detailCart.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}

<div class="container" style="border-bottom: 1px solid #7f7f7f;">
  <div class="title-cart">
    <h1 class="title">
      HUUB
      <span> CART </span>
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias
      deserunt ad!
    </p>
  </div>
</div>

<div class="container">
  <form>
    <div class="formContainer container">
      {% for item in cart %} {% with product=item.product %}
      <div class="formContainerItem">
        <div class="formContainerItemFirst">
            <a href="{{ product.get_absolute_url }}">
                <img
                    src="
                                            {% if product.image %}
                                                {{ product.image.url }}
                                            {% else %}
                                            {% static 'img/no_image.png' %}
                                        {% endif %}"
                />
            </a>
        </div>
        <div class="formContainerSecond">
            <h5>{{ product.name }} <b> ( {{ item.quantity }}x )</b></h5>
            <p>{{ product.description }}</p>
        </div>
        <div class='formContainerFree'>
            <p class="num">${{ item.price }}</p>
            <a href="{% url 'cart:cart_remove' product.id%}"><i class="fa fa-trash"></i></a>
        </div>
      </div>

      {% endwith %} {% endfor %} {% if cart.coupon %}
      <div class="subtotal container">
        <p>Subtotal</p>
        <td colspan="4"></td>
        <h4 class="num">${{ cart.get_total_price }}</h4>
      </div>
      <div>
        <div>
          "{{ cart.coupon.code }}" coupon ({{ cart.coupon.discount }}% off)
        </div>
        <td colspan="4"></td>
        <div class="num neg">
          - ${{ cart.get_discount|floatformat:"2" }}
        </div>
      </div>
      {% endif %}
    
    </div>
  </form>
    <div class="container">
        <div class="totalPrice">
            <h4>Total <span>price</span></h4>
            <td colspan="4"></td>

            <div class="num">
            <p>${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
            </div>
            <form action="{% url 'coupons:apply' %}" method="post">
                {{ coupon_apply_form }}
                <input type="submit" value="Apply" />
                {% csrf_token %}
            </form>
            <p class="text-right">
                <a href="{% url 'shop:product_list' %}" class="btn btn-dark"
                >Continue shopping</a
                >
                <a href="{% url 'orders:order_create' %}" class="btn btn-dark">
                Checkout
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
