{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Товар{% endif %}
{% endblock %}
{% block style_css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="container" style='border-bottom: 1px solid #7f7f7f;'>
    <div class="title-detail">
        <h1 class="title">
          HUUB
          <span> DETAIL </span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias deserunt ad!
        </p>
    </div>
</div>

<div class="container headerDetail">
    <div class="product-detail container">
        <div class="productDetailElementOne">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </div>
        <div class="productDetailElementTwoo">
          <h4>{{ product.name }}</h4>
          <p>{{ product.description|linebreaks }}</p>
        </div>
        <div class="productDetailElementThree">
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
              {{ cart_product_form }}
              {% csrf_token %}
              <p id='cart_price'>${{ product.price }}</p>
              <input class="addToCart" type="submit" value="Добавить">
          </form>
        </div>
    </div>
</div>           
{% endblock %}