{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block style_css %}
	<link href="{% static 'css/autentificate.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container" style='border-bottom: 1px solid #7f7f7f;'>
	<div class="title-catalog">
		<h1 class="title">
		  HUUB
		  <span> LOGIN </span>
		</h1>
		<p>
		  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias deserunt ad!
		</p>
	</div>
</div>

  <div class="container">		
	<div class='autentificateContainer container'>

		<form method='POST' class='form_loginn'>
			{% csrf_token %}
			<div class="form_login_label">
			<label for="login">
				<p>login</p>
				<span>{{ form.username }}</span>
			</label>
			<label for="password">
				<p>password</p>
				<span>{{ form.password }}</span>
			</label>
			</div>
			<input class='autentificateButton' type="submit" value='Войти'>
		</form>
			
	</div>
</div>

{% endblock %}