{% extends "shop/base.html" %}
{% load static %}

{% block style_css %}
	<link href="{% static 'css/profile_update.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="profilecontainer">
		<form method='POST' class='profileForm' enctype='multipart/form-data'>
			{% csrf_token %}
			<anything_else class='profileFormInp'>
			{{ profile_form }}
			<input class='btn btn-dark' type="submit" value='Сохранить изменения'>
		</form>
	</div>
</div> 
{% endblock %}